includes:
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon
	- vendor/nunomaduro/larastan/extension.neon

services:
	-
		class: Ergebnis\PHPStan\Rules\Expressions\NoErrorSuppressionRule
		tags:
			- phpstan.rules.rule
	-
		class: SlamPhpStan\UnusedVariableRule
		tags:
			- phpstan.rules.rule

	-
		class: Laragear\WebAuthn\PHPStan\Rules\DisallowedConstructs\DisallowedBooleanCastRule
		tags:
			- phpstan.rules.rule
	-
		class: Laragear\WebAuthn\PHPStan\Rules\DisallowedConstructs\DisallowedBooleanConversionRule
		tags:
			- phpstan.rules.rule

parameters:
	level: 7
	reportMaybesInPropertyPhpDocTypes: false
	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false
	featureToggles:
		bleedingEdge: true
	paths:
		- src
		- stubs

	ignoreErrors:
		# bunch of false positives from Eloquent
		- '#Parameter \#1 .* of method .*MayRetrieveCredentialsIdForUser::parseCredentials\(\) expects .*Collection<int, .*WebAuthnCredential>, .*Collection<int, .*Model> given.#'
		- '#Method .*::parseCredentials\(\) should .*Collection<.*> but returns .*Collection<.*>.#'
		- '#Dynamic call to static method .*MorphMany<.*Model>::value\(\).#'
		- '#Parameter \#1 \$callback of method .*Collection<.*>::map\(\) expects callable\(.*\): .*, Closure\(.*\): .* given.#'
		- '#Dynamic call to static method .*Builder<.*WebAuthnCredential>::exists\(\).#'
		- '#Dynamic call to static method .*Builder<.*>::whereEnabled\(\).#'
		- '#Method Laragear\\WebAuthn\\Http\\Requests\\AssertedRequest::login\(\) should return \(.*Authenticatable&.*WebAuthnAuthenticatable\)\|null but returns .*User\|null.#'
		- '#Call to an undefined method Illuminate\\Contracts\\Auth\\StatefulGuard::getProvider\(\)#'
